<div class="op-container op-block-border">
    <div>
        <div class='col-xs-6 op-container op-stage'>
            <% data.fields.each(function(field, fieldName) { %>
                <div class="form-inline">
                    <label>
                        <%= data.labels[fieldName][languageData.attr('fromLanguageCode')] %>
                    </label>
                    <textarea class="form-control" rows="5" name="objective_<%= fieldName %>">
                        <%= field[languageData.attr('fromLanguageCode')] %>
                    </textarea>
                </div>
                <% }); %>
        </div>
        <div class='col-xs-6 op-container op-stage'>
            <% data.fields.each(function(field, fieldName) { %>
                <div class="form-inline">
                    <label>
                        <%= data.labels[fieldName][languageData.attr('toLanguageCode')] %>
                    </label>
                    <textarea class="form-control" rows="5" name="objective_<%= fieldName %>">
                        <%= field[languageData.attr('toLanguageCode')] %>
                    </textarea>
                </div>
                <% }); %>
        </div>
    </div>
</div>